PORT=5005
DB_NAME=Tomato
MONGO_URI=your_mongodb_connection_string
JWT_SEC=your_jwt_secret_key
UTILS_SERVICE=http://localhost:5002
REALTIME_SERVICE=http://localhost:5004
RESTAURANT_SERVICE=http://localhost:5001
INTERNAL_SERVICE_KEY=your_internal_service_key
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RIDER_QUEUE=rider_queue
ORDER_READY_QUEUE=order_ready_queue
